PyQt5>=5.15.0
PyQtWebEngine>=5.15.0
requests>=2.28.0
reportlab>=4.0.0
openpyxl>=3.1.0
arabic-reshaper>=3.0.0
python-bidi>=0.4.2

Pillow>=10.0.0
python-pptx>=0.6.23

python-docx>=1.1.0
qrcode>=7.4.2

cryptography>=42.0.0

argon2-cffi>=23.1.0
